[animejs-banner] {
	&.background {
		height: 100vh;
		width: 100%;
		overflow: hidden;
		// -moz-transform: scaleX(-1);
		// -o-transform: scaleX(-1);
		// -webkit-transform: scaleX(-1);
		// transform: scaleX(-1);
		// filter: FlipH;
		// -ms-filter: "FlipH";
	}

	.cell {
		display: inline-block;
		position: relative;
		.bubble {
			border-radius: 50%;
			background-color: green;
			height: 1%;
			width: 1%;
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;

			-ms-transform-origin: 50% 50%; /* IE 9 */
			-webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
			transform-origin: 50% 50%;

		}
	}

	#squares {
		width: 100%; height: 100%;
		position: relative;

		article {
			// width: 200px; height: 200px;
			position: absolute;
		}
		div {
			width: 100%;
			height: 100%;
			margin-top: auto;
			margin-bottom: auto;
			border-radius: 50%;

			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
	}

	#demo2 {
		div {
		  width: 2.5em;
		  height: 2.5em;
		  margin-top: auto;
		  margin-bottom: auto;
		  border-radius: 50%;
		}
	}

}