#landing-card {
	z-index: 1;
	background-color: white;
	@include center();

	line-height: 20em;
    height: 20em;
    max-width: 90vw;
    width: 42em;
    text-align: center;
}

.initialScrollBtn {
    position: fixed;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.unscrollable {
	overflow: hidden;
}

.scrollable {
	overflow: auto;
}