[landing-content] {
	font-family: @font-family;
	.transition(all linear 2s);
	color: @bg-light;
	height: ~"calc(100vh - 4px)";
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&[ng-hide] {
		animation: 1s disappear;
	}
	&[ng-show] {
		animation: 1s appear;
	}
	strong {
		color: @light-blue;
	}
}

#landing-card {
	// display: block;
	// float: left;
	// height: auto;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: transparent;
	// .center();
	// line-height: 20em;
	// height: 28em;
	// width: 42em;0
	height: 100%;
	width: 100%;
	max-height: 90vh;
	// max-width: 90vw;
	max-width: 800px;
	padding: 0px 80px;
	text-align: center;
	h1 {
		color: @bg-light;
		// font-weight: bold;
		text-align: left;
		// text-align: center;
		// width: 100%;
		min-width: 230px !important;
		display: inline-block !important;
		// overflow: hidden;
		// width: 0%;
		opacity: 0;
		display: none;
		.h2-font();
	}
	p {
		text-align: left;
		padding: 0px 10vw;
		display: none;
		line-height: 1.8;

		@media (max-width: 375px) {
			line-height: 1.2;
		}

	}
}

.initialScrollBtn {
	position: fixed;
	color: white;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
}

.unscrollable {
	overflow: hidden;
}

.scrollable {
	overflow: auto;
}





@media screen and (min-width:1024px) {
	#landing-card p {
		// padding: 0px 5px;
		padding: 0px;
	}				
}

@media (max-width: 425px) {
	#landing-card {
		padding: 0px;	
	}
}