.cards {
	height: calc(~"100vh - 40px");
	width: calc(~"100% - 40px");
	overflow: visible;
	padding: 20px;
	
	.cards-inner {
		height: 100%;
		overflow: visible;
		position: relative;
	}


	.card {
		height: 95%;
		margin: auto;
		position: absolute;
		left: 0; right: 0;
		transition: top .2s linear;
		transition: width .2s linear;
		-khtml-user-select: none;
		-moz-transition: -moz-transform 500ms;
		-moz-transition: opacity 0.3s;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-touch-callout: none;
		-webkit-transition: -webkit-transform 500ms;
		-webkit-transition: opacity 0.3s;
		-webkit-user-select: none;
		background-size: cover;
		background: transparent;
		color: #444444;
		display: block;
		opacity: 1;
		transition: opacity 0.3s;
		transition: transform 500ms;
		user-select: none;

		cursor: pointer;
		.project, [ng-transclude] {
			height: 100%;
		}

		// img,
		.card-inner {
			width: 100%;
			height: 100%;
			// max-width: 80vw;
			// max-height: 50vh;
			margin: auto;
			display: block;
			position: absolute;
			bottom: 0; top: 0; left: 0; right: 0;


			article {
				width: 100%;
				height: 100%;
				position: relative;
				perspective: 800px;
				.flip-card {
					width: 100%;
					height: 100%;
					position: absolute;
					transform-style: preserve-3d;
					transition: transform 1s;
					// box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
					box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
					// box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
					background: #f4f4f4;
					figure {
						margin: 0;
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						backface-visibility: hidden;
					}
					.front {
					}
					.back {
						background: #f4f4f4;
						transform: rotateY( 180deg);
					}
					&.flipped {
						transform: rotateY( 180deg );
					}
				}
				img {
					max-width: 90%;
					margin: auto;
					display: block;
					position: absolute;
					bottom: 0; top: 0; left: 0; right: 0;
				}
			}

		}

	}
}