#projects-intro {
	h2, p {
		font-family: Ubuntu;
		width: 80%;
		max-width: 500px;
		line-height: 1.8
	}
	figure {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&.card-back {
			text-align: center;
			h2 {
				font-family: ChopinScript !important;
				font-size: 5em;
			}
		}
	}
}

#card-back-buttons {
	position: absolute;
	width: ~"calc(100% - 40px)";
	text-align: center;
	z-index: 100000;
}

.cards {
	// height: calc(~"100vh - 40px");
	// width: calc(~"100% - 40px");
	height: calc(~"100vh - 8px");
	width: 100%;
	max-width: 800px;
	max-height: 800px;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	// overflow: hidden;
	padding: 20px;
	box-sizing: border-box;
	
	.cards-inner {
		height: 100%;
		overflow: visible;
		position: relative;
	}


	.card {
		height: 95%;
		margin: auto;
		position: absolute;
		left: 0; right: 0;
		background-size: cover;
		background: transparent;
		color: @bg-dark;
		display: block;
		opacity: 1;
		-khtml-user-select: none;
		-moz-transition: -moz-transform 500ms, opacity 0.3s;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-touch-callout: none;
		-webkit-transition: -webkit-transform 500ms, opacity 0.3s;
		-webkit-user-select: none;
		transition: opacity 0.3s, transform 500ms, top .2s linear, width .2s linear;
		user-select: none;

		

		cursor: pointer;
		.project, [ng-transclude] {
			height: 100%;
		}

		// img,
		.card-inner {
			width: 100%;
			height: 100%;
			// max-width: 80vw;
			// max-height: 50vh;
			margin: auto;
			display: block;
			position: absolute;
			bottom: 0; top: 0; left: 0; right: 0;


			article {
				width: 100%;
				height: 100%;
				position: relative;
				perspective: 800px;
				.flip-card {
					width: 100%;
					height: 100%;
					position: absolute;
					transform-style: preserve-3d;
					transition: transform 1s;
					box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
					// box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
					background: darken(@bg-light, 5%);
					> figure {
						padding: 60px;
						margin: 0;
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						backface-visibility: hidden;
					}
					.card-front {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
					}
					.card-back {
						background: darken(@bg-light, 5%);
						transform: rotateY( 180deg);
						> div {
							overflow: hidden;
							max-height: 100%;
						}
						.project-featured-img {
							width: 100%;
							margin: 30px 0;
							max-width: none !important;
						}
					}
					&.flipped {
						transform: rotateY( 180deg );
						&.flipped-complete .card-back {
							overflow: auto;
							max-height: 100%;
							> div {
								overflow: auto;
								max-height: 100%;
							}
						}
					}
				}
				img {
					max-width: 90%;
					margin: auto;
					display: block;
					position: absolute;
					bottom: 0; top: 0; left: 0; right: 0;
				}
			}


			// &:nth-of-type(odd) .flip-card {
			// 	background-color: #18212D;
			// }
			// &:nth-of-type(even) .flip-card {
			// 	background: #f4f4f4;
			// }

		}

	}
}

.decoy.cardsDisabled {
}
.decoy.cardsEnabled {
	z-index: -1;
}

#spark {
	iframe {
		max-height: 50vh;
		margin: 30px auto;
		width: 100%;
		display: block;
		height: 382px;
	}
}

#card-back-buttons {
	display: none;
	opacity: 0;
	// display: flex;
	justify-content: space-between;
	width: ~"calc(100% + 60px - 40px)";
	transform: translate(-30px, -30px);
	.card-back-button {
		cursor: pointer;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		height: 60px;
		width: 60px;
		padding: 5px;
		background: @mid-blue;
		box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
		.vertical-center();
		&:first-child {
			// float: left;
			// align-self: flex-start;
		}
		&:last-child {
			// float: right;
			// align-self: flex-end;
		}
		i {
			font-size: 2em;
			color: @bg-light;
			display: inline-block;
		}
	}
}

.card-back {
	img {
		position: relative !important;
	}
	.other-imgs {
		> div {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
		}
		img {
			width: 100%;
			max-width: none !important;
			margin: 15px 0 !important;
			// visibility: hidden;
			&:nth-of-type(odd){
				float: left;
			}
			&:nth-of-type(even){
				float: right;
			}
		}
	}
}

@media (max-width: 768px) {
	.other-imgs {
		img {
			// width: ~"calc(50% - 15px)";
		}
		> div {
			height: 50vh;
			// padding: 50vh;
			width: 100%;
		}
	}
	.card-back {
		p {
			font-size: 1.4em;
			line-height: 1.8;
		}
	}
}

@media (max-width: 768px), (max-height: 768px) {
	#card-back-buttons {
		width: ~"calc(100% - 20px)";
		.transform(translate(-10px, -10px));
	}
	#spark {
		iframe {
			margin-top: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.cards {
		padding: 40px;
	}
	#card-back-buttons {
		width: ~"calc(100% - 20px)";
	}
}

@media (max-width: 425px) {
	#projects-intro {
		h2, p {
			width: 80%;
		}
		p {
			font-size: 1.4em;
		}
	}
	.flip-card {
		> figure {
			padding: 30px !important;
		}
	}
	#spark iframe {
		margin-top: 0;
	}
	#dummyproject {
		.card-front {
			padding: 15px 0px !important;
			.vertical-center();
			h2 {
				line-height: 1.2;
			}
		}
	}
}