#skillz {
	max-width: 80vw;
	margin: auto;
	text-align: center;
	a {
		display: block;
		&.skillz-category-on {
			font-size: 2em;
		}
	}
}

#skillz-filter-categories {
	a {
		text-transform: capitalize;
	}
}