#skillz {
	max-width: 80%;
	// max-width: 40vw;
	margin: auto;
	text-align: center;

	#skillz-filter-categories {
		& > div {

			text-transform: capitalize;
			width: ~"calc(50% - 10px)";
			display: inline-block;
			height: auto;
			// margin: 5px;
			padding: 0px 5px;
			text-overflow: ellipsis;
			white-space: nowrap;
			// overflow: hidden;
			text-align: center;
			border-radius: 4px;
			color: @dark-blue;

			h4 {
				vertical-align: top;
				line-height: 28px;
				margin: 0;
				width: ~"calc(100% - 56px)";
				position: relative;

				label {
					font-weight: normal;
					font-size: 14px;
					&:before {
						cursor: pointer;
						height: 5px;
						width: 0%;
						background: @bg-light;
						display: inline-block;
						content: " ";
						position: absolute;
						top: 15px;
						transition: all .8s;
					}
					span {
						background: white;
						position: relative;
						cursor: pointer;
						border: 4px solid @bg-light;
						border-radius: 1em;
						padding: 2px 5px;
						color: darken(@bg-light, 22%);
					}

				}
			}

			&:nth-of-type(odd){
				& > :first-child {
					float: left;
				}
				& > :last-child {
					float: right;
				}
				& h4 label {
					span {padding-right: 5px;}
					&:before {
						right: 0;
					}
				}
			}
			&:nth-of-type(even){
				& > :first-child {
					float: right;
				}
				& > :last-child {
					float: left;
				}
				& h4 label {
					span {padding-left: 5px;}
					&:before {
						left: 0;
					}
				}
			}
		}

		@categories: development, security, ~"project.management", backend, frontend, design, database, cloud;
		.for(@categories); .-each(@category) {
			.@{category} {
				> *:not(input) {
					display: inline-block;
				}
			}
		}

		.skillz-category-on {
			* {
				color: @bg-light;
				border-color: @green;
			}
			h4 {
				label {
					span {
						background: @green !important;
					}
					&:before {
						width: 50%;
						background: @green;
					}
				}
			}
		}

	}


	#skillz-list {
		padding: 0px;
		li {
			list-style: none;
			display: inline-block;
			background: @mid-blue;
			margin: 2.5px;
			padding: 5px 15px;
			border-radius: 17.5px;
			color: #f4f4f4;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
		// .very-strong { background: #BA68C8; }
		// .strong { background: #81C784; }
		// .medium { background: #FFD54F; }
		// .light { background: #E0E0E0; }
		.very-strong { background: @dark-blue; }
		.strong { background: @mid-blue; }
		.medium { background: @sky-blue; }
		.light { background: @bg-light; color: @bg-dark; }
	}
}



.animate-repeat {
	// line-height: 20px;
	list-style: none;
	box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	transition: all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity: 0;
	// max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity: 1;
	// max-height: 20px;
}


.tgl {
	display: none;
	margin: 0;
	// add default box-sizing for this scope
	&,
	&:after,
	&:before,
	& *,
	& *:after,
	& *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
		user-select: none;
		&:after,
		&:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
		&:after {
			left: 0;
		}
		&:before {
			display: none;
		}
	}
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-flat {
	+ .tgl-btn {
		padding: 2px;
		transition: all .5s;
		background: transparent;
		border: 4px solid @bg-light;
		border-radius: 2em;
		&:after {
			transition: all .2s ease;
			background: @bg-light;
			content: "";
			border-radius: 1em;
		}
	}
	&:checked + .tgl-btn {
		border: 4px solid @green;
		&:after {
			left: 50%;
			background: @green;
		}
	}
}

#skillz-intro,
#skillz-order,
#skillz-filter-categories {
	display: inline-block;
	vertical-align: top;
}
#skillz-intro {
	width: 30%;
}
#skillz-order {
	width: 20%;
	margin-right: auto;
	.orderer {
		margin: 40px 0;
		h4 {
			margin: 9px 15px;
			font-weight: bold;
			color: @bg-dark;
		}
		> * {
			display: inline-block;
			vertical-align: top;
			&.orderer-carets {
				label {
					display: block;
					margin: 0;
				}
				input {
					display: none;
					+ i {
						&.ordered {
							transform: scale(2);
						}
					}
				}
			}
		}
	}
}
#skillz-filter-categories {
	width: 80%;
	margin-left: auto;
	margin-top: 20px;
	max-width: 888px;
}



@media (max-width: 768px) {
	#skillz > * {
		display: block;
		width: 100%
	}
	#skillz-filter-categories {
		margin-top: 0;
	}
	#skillz-order {
		> .orderer {
			width: ~"calc(50% - 30px)";
			margin: 0;
			display: inline-block;
			&:last-child {
				margin-left: 30px;
				> .orderer-carets {
					float: left;
				}
			}
			&:first-child {
				margin-right: 30px;
				> :last-child {
					float: right;
				}
			}
		}
	}
}

@media (max-width: 425px) {
	#skillz-filter-categories {
		> div {
			text-align: center;
			white-space: normal !important;
			> *:not(input) {
				display: block !important;
				float: none !important;
			}
			h4 {
				width: 100% !important;
				label {
					width: 100%;
					span {
						display: block;
						line-height: 18px;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					}
					&:before {
						display: none !important;
					}
				}
			}
			label {
				margin: auto;
			}
			.tgl-btn {
				display: none !important;
			}
		}
	}
}