<div class="cards">
	<div class="cards-inner flip">

		<div ng-repeat="project in projects" class="card" id="{{project.id}}">
			<div class="card-inner">

				<article ng-if="$index===0" id="projects-intro">
					<div class="flip-card">
						<figure class="card-front">
							<h2>
								Projects
								<br>
								&amp; Experience
							</h2>
							<p>
								Take a peek into the motley of endeavors I've engaged in throughout my professional career, academia, and my own personal time. Tap on a card to view each project in more detail, and swipe it away to view the next one.
							</p>
						</figure>
						<figure class="card-back">
							<h2>
								Happy Swiping
							</h2>
						</figure>
					</div>	
				</article>

				<article ng-if="$index!==0">
					<div class="flip-card">
						<figure class="card-front">
							<img src="{{project.image}}">
						</figure>
						<figure class="card-back" ng-if="!project.hasOwnProperty('customtemplate')">
							<p>
								<strong>
									{{project.shortdescription}}
								</strong>
							</p>
						</figure>
						<figure class="card-back" ng-if="project.hasOwnProperty('customtemplate')">
							<ng-include src="project.customtemplate">
							</ng-include>
						</figure>
					</div>
				</article>

			</div>
		</div>
	</div>
</div>