<div class="cards">

	<div id="card-back-buttons">
		<!-- <button class="ripple-cont">
			<div class="ripple-content">
				Button
			</div>
			<div class="ink-content"></div>
		</button>

		<div>
			<button class="r-raised ripple-cont" r-color="#F44336" r-opacity=".6">
				<div class="ripple-content">
					Custom
				</div>
				<div class="ink-content"></div>
			</button>
		</div> -->
		<a class="card-back-button" ng-click="flipToFront()">
			<i class="fa fa-undo" aria-hidden="true"></i>
		</a>
		<a ng-click="showProjectModal()" class="card-back-button">
			<i class="fa fa-search-plus" aria-hidden="true"></i>
		</a>
		<a class="card-back-button" id="visit-project-site" target="_blank">
			<i class="fa fa-share" aria-hidden="true"></i>
		</a>

	</div>

	<div class="cards-inner flip">

		<div ng-repeat="project in projects" class="card" id="{{project.id}}">
			<div class="card-inner">

				<article ng-if="$index===0" id="projects-intro">
					<div class="flip-card">
						<figure class="card-front">
							<div>
								<h2>
									Projects
									<br>
									&amp; Experience
								</h2>
							</div>
						</figure>
						<figure class="card-back">
							<p>
								Take a peek into the motley of endeavors I've engaged in throughout my professional career, academia, and my own personal time. Tap on a card to view each project in more detail, and swipe it away to view the next one.
							</p>
							<h2>
								Happy Swiping
							</h2>
						</figure>
					</div>	
				</article>

				<article ng-if="$index!==0">
					<div class="flip-card" data-website-url="{{project.link.url}}">
						<figure class="card-front">
							<img src="{{project.images.logo}}">
						</figure>
						<figure class="card-back" ng-if="!project.hasOwnProperty('customtemplate')">
							<div>
								<img class="project-featured-img" src="{{project.images.featured}}">
								<!-- <p ng-repeat="paragraph in project.description">
									{{paragraph}}
								</p> -->
								<p ng-repeat="paragraph in project.description" ng-bind-html="paragraph">
									<!-- {{paragraph}} -->
								</p>
							</div>
						</figure>
						<figure class="card-back" ng-if="project.hasOwnProperty('customtemplate')">
							<div ng-include src="project.customtemplate">
							</div>
						</figure>
					</div>
				</article>

			</div>
		</div>
	</div>
</div>