/*----DEFAULT COLUMNS STYLES----*/
.ct-clear {
    clear: both;
}
.ct-column-top {
    margin-bottom: 1em;
}
.ct-column-bottom {
    margin-top: 1em;
}
.ct-column-middle {
    margin-bottom: 1em;
    margin-top: 1em;
}
.ct-column-main-left-50 {
    width: 49%;
    float: left;
}
.ct-column-main-right-50 {
    width: 49%;
    float: right;
}
.ct-column-main-left-25 {
    width: 25%;
    float: left;    
}
.ct-column-main-center-50 {
    width: 48%;
    margin: 0 1%;
    float: left;    
}
.ct-column-main-right-25 {
    width: 25%;
    float: right;    
}
.ct-column-main-left-33 {
    width: 32%;
    float: left;    
}
.ct-column-main-center-33 {
    width: 32%;
    margin: 0 2%;
    float: left;    
}
.ct-column-main-right-33 {
    width: 32%;
    float: right;    
}
.block-ct-filter-content {
    padding: 5px 10px;
}


