@font-face{font-family:Ubuntu;src:url(font/ubuntu/Ubuntu-R.ttf)}
@font-face{font-family:Ubuntu;src:url(font/ubuntu/Ubuntu-B.ttf);font-weight:700}
@font-face{font-family:Ubuntu;src:url(font/ubuntu/Ubuntu-C.ttf);font-stretch:condensed}
.cards{height:calc(100vh - 40px);width:calc(100% - 40px);overflow:hidden;padding:20px}
.cards .cards-inner{height:100%;overflow:visible;position:relative}
.cards .card,.cards .card .card-inner{margin:auto;position:absolute;display:block;left:0;right:0}
.cards .card{height:95%;background:0 0;color:#444;opacity:1;-khtml-user-select:none;-moz-transition:-moz-transform .5s,opacity .3s;-moz-user-select:none;-ms-user-select:none;-webkit-touch-callout:none;-webkit-transition:-webkit-transform .5s,opacity .3s;-webkit-user-select:none;-webkit-transition:opacity .3s,-webkit-transform .5s,top .2s linear,width .2s linear;transition:opacity .3s,transform .5s,top .2s linear,width .2s linear;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer}
.cards .card .project,.cards .card [ng-transclude]{height:100%}
.cards .card .card-inner{width:100%;height:100%;bottom:0;top:0}
.cards .card .card-inner article{width:100%;height:100%;position:relative;-webkit-perspective:800px;perspective:800px}
.cards .card .card-inner article .flip-card{width:100%;height:100%;position:absolute;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition:-webkit-transform 1s;transition:transform 1s;box-shadow:0 1px 3px rgba(0,0,0,.5);background:#f4f4f4}
.cards .card .card-inner article .flip-card figure{margin:0;display:block;position:absolute;width:100%;height:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.cards .card .card-inner article .flip-card .card-back{background:#f4f4f4;-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}
.cards .card .card-inner article .flip-card.flipped{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}
.cards .card .card-inner article img{max-width:90%;margin:auto;display:block;position:absolute;bottom:0;top:0;left:0;right:0}
.decoy.cardsEnabled{z-index:-1}
.center{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
@-webkit-keyframes appear{from{opacity:0}
to{opacity:1}
}
@keyframes appear{from{opacity:0}
to{opacity:1}
}
@-webkit-keyframes disappear{from{opacity:1}
to{opacity:0}
}
@keyframes disappear{from{opacity:1}
to{opacity:0}
}
.bg-dark{background-color:#18212D}
.bg-light{background-color:#f4f4f4}
[bubble-gradient]{-webkit-transition:1s ease all;transition:1s ease all;z-index:0;position:relative;height:100vh;width:100%}
[bubble-gradient] canvas{border:3px solid #CCC}
[landing-content]{-webkit-transition:all linear 2s;transition:all linear 2s;color:#f4f4f4}
[landing-content][ng-hide]{-webkit-animation:1s disappear;animation:1s disappear}
[landing-content][ng-show]{-webkit-animation:1s appear;animation:1s appear}
[landing-content] strong{color:#3cf0ff}
#landing-card{z-index:1;background-color:transparent;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;height:28em;max-height:90vh;max-width:90vw;width:42em;text-align:center}
#landing-card h1{color:#f4f4f4}
#landing-card p{text-align:left;padding:0 15px;line-height:1.2;display:none}
.initialScrollBtn{position:fixed;color:#fff;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);bottom:20px}
[animejs-banner].background{height:100vh;width:100%;overflow:hidden}
#box,[animejs-banner] section{width:100%;height:100%}
[animejs-banner] #loading-squares,[animejs-banner] #squares article{position:absolute}
[animejs-banner] #loading-squares div,[animejs-banner] #loading-squares svg{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
[animejs-banner] #squares{position:relative;display:none}
[animejs-banner] #squares div{border-radius:50%;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
#animejs-explosion{display:block;width:100vw;height:100vh;cursor:pointer}
[animejs-explosion]{position:fixed}
#box-container{position:relative;-webkit-perspective:1000px;perspective:1000px;visibility:hidden}
#box,#box>figure{position:absolute}
#box{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition:-webkit-transform 1s;transition:transform 1s}
#box>figure{margin:0;display:block;border:2px solid #1e78b4}
#box>figure.shown{top:-2px;left:-2px}
#box.removeBorders>figure{border-style:none}
.show-box{visibility:visible!important}
#action-menu{position:fixed;bottom:0;right:0}
#action-button{position:relative;-webkit-transform:rotate(0);transform:rotate(0);-webkit-transition:all .5s ease-in-out,opacity 1s linear;transition:all .5s ease-in-out,opacity 1s linear;cursor:pointer}
#action-button:not(.show-action-button){opacity:0;right:-100%}
#action-button.show-action-button{-webkit-transition-delay:2s;transition-delay:2s;-webkit-transition-timing-function:cubic-bezier(.25,.46,.45,.94);transition-timing-function:cubic-bezier(.25,.46,.45,.94);opacity:1;right:-10px}
#action-button-container{position:relative;top:-18vh;left:-32vw}
#action-button-container .menu-item,#action-button-container .menu-open-button{background:#1e78b4;border-radius:100%;width:69px;height:69px;line-height:69px;color:#3cf0ff;position:absolute;text-align:center;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:-webkit-transform ease-out .2s,-webkit-transform ease-out .2s;transition:transform ease-out .2s,-webkit-transform ease-out .2s}
#action-button-container .menu-item:hover,#action-button-container .menu-open-button:hover{color:#0c3048}
#action-button-container .menu-open-button:hover{-webkit-transform:scale(1.2,1.2) translate3d(0,0,0);transform:scale(1.2,1.2) translate3d(0,0,0)}
#action-button-container .menu-open{display:none}
#action-button-container .hamburger{width:25px;height:3px;background:#3cf0ff;border-radius:8px;display:block;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;-webkit-transition:-webkit-transform .2s,-webkit-transform .2s;transition:transform .2s,-webkit-transform .2s}
.header,.second{background:#fff}
#intro,.circles.h-card{display:none}
#action-button-container .hamburger-1{-webkit-transform:translate3d(0,-8px,0);transform:translate3d(0,-8px,0)}
#action-button-container .hamburger-2{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#action-button-container .hamburger-3{-webkit-transform:translate3d(0,8px,0);transform:translate3d(0,8px,0)}
#action-button-container .menu-open:checked+.menu-open-button .hamburger-1{-webkit-transform:translate3d(0,0,0) rotate(45deg);transform:translate3d(0,0,0) rotate(45deg)}
#action-button-container .menu-open:checked+.menu-open-button .hamburger-2{-webkit-transform:translate3d(0,0,0) scale(.1,1);transform:translate3d(0,0,0) scale(.1,1)}
#action-button-container .menu-open:checked+.menu-open-button .hamburger-3{-webkit-transform:translate3d(0,0,0) rotate(-45deg);transform:translate3d(0,0,0) rotate(-45deg)}
#action-button-container .menu{-webkit-filter:url(resources/svg/shadowed-goo.svg#shadowed-goo);filter:url(resources/svg/shadowed-goo.svg#shadowed-goo);position:absolute;width:8888px;height:8888px;box-sizing:border-box;font-size:20px;text-align:left}
#action-button-container .menu-open-button{z-index:2;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.275);transition-timing-function:cubic-bezier(.175,.885,.32,1.275);-webkit-transition-duration:.4s;transition-duration:.4s;-webkit-transform:scale(1.1,1.1) translate3d(0,0,0);transform:scale(1.1,1.1) translate3d(0,0,0);cursor:pointer}
#action-button-container .menu-open:checked+.menu-open-button{-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-transition-duration:.2s;transition-duration:.2s;-webkit-transform:scale(.8,.8) translate3d(0,0,0);transform:scale(.8,.8) translate3d(0,0,0)}
#action-button-container .menu-open:checked~.menu-item{-webkit-transition-timing-function:cubic-bezier(.935,0,.34,1.33);transition-timing-function:cubic-bezier(.935,0,.34,1.33)}
#action-button-container .menu-item:nth-child(3){-webkit-transition-duration:70ms;transition-duration:70ms}
#action-button-container .menu-open:checked~.menu-item:nth-child(3){-webkit-transition-duration:160ms;transition-duration:160ms;-webkit-transform:translate3d(-169px,0,0);transform:translate3d(-169px,0,0)}
#action-button-container .menu-item:nth-child(4){-webkit-transition-duration:130ms;transition-duration:130ms}
#action-button-container .menu-open:checked~.menu-item:nth-child(4){-webkit-transition-duration:240ms;transition-duration:240ms;-webkit-transform:translate3d(-156.14px,-64.67px,0);transform:translate3d(-156.14px,-64.67px,0)}
#action-button-container .menu-item:nth-child(5){-webkit-transition-duration:190ms;transition-duration:190ms}
#action-button-container .menu-open:checked~.menu-item:nth-child(5){-webkit-transition-duration:320ms;transition-duration:320ms;-webkit-transform:translate3d(-119.5px,-119.5px,0);transform:translate3d(-119.5px,-119.5px,0)}
#action-button-container .menu-item:nth-child(6){-webkit-transition-duration:250ms;transition-duration:250ms}
#action-button-container .menu-open:checked~.menu-item:nth-child(6){-webkit-transition-duration:.4s;transition-duration:.4s;-webkit-transform:translate3d(-64.67px,-156.14px,0);transform:translate3d(-64.67px,-156.14px,0)}
#action-button-container .menu-item:nth-child(7){-webkit-transition-duration:310ms;transition-duration:310ms}
#action-button-container .menu-open:checked~.menu-item:nth-child(7){-webkit-transition-duration:480ms;transition-duration:480ms;-webkit-transform:translate3d(0,-169px,0);transform:translate3d(0,-169px,0)}
@media only screen and (min-width:768px){#action-button-container #action-button.show-action-button{right:-88px}
}
@media only screen and (min-width:1024px){#action-button-container #action-button.show-action-button{right:-169px}
}
@media only screen and (min-width:1440px){#action-button-container #action-button.show-action-button{right:-269px}
}
@media only screen and (min-width:2560px){#action-button-container #action-button.show-action-button{right:-569px}
}
.open-menu-blur{-webkit-filter:blur(8px) brightness(28%) opacity(88%);filter:blur(8px) brightness(28%) opacity(88%);-webkit-transition:all .5s;transition:all .5s}
:not(.open-menu-blur){-webkit-transition:-webkit-filter .3s linear}
body{font-family:Ubuntu;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility;font-smooth:always;overflow-x:hidden;margin:0}
.row{margin-left:0;margin-right:0}
.scrollable{overflow:auto!important}
.unscrollable{overflow:hidden!important}
.darkcolor,.headercolor,.lightcolor,.ultradarkcolor,.ultralightcolor{-webkit-transition:color 1s ease;transition:color 1s ease}
.bgcolor,.bgcolor-transparent,.darkbgcolor,.darkbgcolor-transparent,.ultradarkbgcolor,.ultradarkbgcolor-transparent{-webkit-transition:background-color 1s ease;transition:background-color 1s ease}
.hoverdarker{-webkit-transition:background-color .3s ease;transition:background-color .3s ease}
.scrollfade{-webkit-transition:all .4s ease;transition:all .4s ease}
.scrollfade.hidden{opacity:0;-webkit-transform:translateY(15px) scale(.9,.9);transform:translateY(15px) scale(.9,.9)}
.main{position:fixed;top:0;left:0;width:100%}
.decoy{width:100%;height:100vh;position:relative}
.header,landing-content{position:absolute;width:100%;height:100vh}
.header{z-index:20}
landing-content{z-index:30}
.second{width:100%;height:100vh;position:relative;z-index:10}
#initial-scroll{display:block;text-align:center;margin-top:95vh}
#initial-scroll .fa-chevron-down{color:#fff;cursor:pointer}